@use "../../abstracts/mixins";

/* ========================= Brand Css Start ======================== */
.brand-item {
    img {
        max-width: 152px !important;
        @include mixins.xl-screen {
            max-width: 132px !important;
        }
        @include mixins.md-screen {
            max-width: 86px !important;
        }
    }
}
/* ========================= Brand Css End ======================== */