@use "../../abstracts/functions";
@use "../../abstracts/mixins";

/* ======================= Newsletter Css Start =========================== */
.newsletter-box {
    background-color: #121535;
    padding: 32px functions.clampCal(24, 64, 1199, 1499);
}

.newsletter-two {
    &__form {
        @include mixins.md-screen {
            width: 100% !important;
        }
    }
}
/* ======================= Newsletter Css End =========================== */